* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Gabarito, sans-serif;
}

.navbar {
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    background-color: white;
    position: sticky;
    top: 0;
}

.navbar__s1__title {
    color: #b70b72;
}

.mylearning {
    position: relative;
    cursor: pointer;

}

.mylearning__popup {
    position: absolute;
    background-color: #b70b72;
    color: white;
    border: solid black 1px;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
    top: 150%;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s4 {
    display: none;
}

.catocarises {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.catocarises p {
    background-color: #f035a5;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: solid #f035a5;
}

.catocarises p:hover {
    background-color: transparent;
    color: black;
    border: solid #f035a5;
    transition: 1s;
}

.sale_image_offer {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 35%;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;


}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sale-image img {
    width: 100%;
}

.Recommended {
    padding: 10px;
}

.recommeded_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course_card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course_card img {
    height: 50%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topic_container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topic_container p {
    padding: 10px;
    border: solid black 2px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;

}

.popular_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer_one {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer_one {
    display: flex;
    gap: 10px;

}

.footer_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.footer_one p {
    margin: 10px;
}

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course_card {
        flex-basis: 40%;
    }

    .catocarises {
        display: none;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .navbar__s4 {
        display: block;
    }

    .sale_image_offer {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 35%;
        flex-wrap: wrap;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
    }